/* 
Huda Shulaiba (umid: hudashu)
*/

/* default text Times New Roman font 
fallback text sans-serif
background color #000000
foreground color #FFFFFF
*/
body {
    font-family: 'Times New Roman', sans-serif;
    background:#000000;
    color:#FFFFFF;
}

/* Header 1 is 64px, centered, and has padding of 10px */
h1 {
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

/* Header 2 is 32px
grey (#808080) drop shadow (use text-shadow property)
offset 4px horizontally, 4px vertically, and 2px blur */
h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

/* Paragraphs use 24px font and have 15px padding on the top only */
p {
    font-size: 24px;
    padding-top: 15px;
}

/* images on their own line
images centered
550px wide
(the image should not be warped or stretched) */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: auto;
}

/* at least 150px tall
25px padding on all sides */
div {
    min-height: 150px;
    padding: 25px;
    text-align: left;
}

/* Background color #FF0000
Text right */
#red {
    background-color: #FF0000;
    text-align: right;
}

/* Background color #FFFF00 
right align text */
#yellow {
    background-color: #FFFF00;
    text-align: right;
    color: #000000;
}
/* h2 and paragraph text #000000
h2 has text-shadow #c7e2c7 */
#yellow h2{
    text-shadow: 4px 4px 2px #c7e2c7;
}

/* Background color #00FF00
left align text*/
#blue {
    background-color: #0000FF;
}

/* Background color #008000
left align text */
#green {
    background-color: #008000;
}

/* Paragraphs within the footer have centered text
10px padding on the bottom and right only */
footer p{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-left: 0px;
}